<h1 class="title is-5">สิ่งที่ต้องการ</h1>
<div class="columns is-mobile">
    <div class="column is-3">
        <div class="card" routerLink="/retirements/new">
            <div class=" card-image">
                <figure class="image is-3by2">
                    <img src="assets/images/retirement.jpg" alt="">
                </figure>
                <figcaption class=" is-size-6 has-text-light">สุขทุกวันยันเกษียณ</figcaption>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="card" routerLink="/retirements/new">
            <div class=" card-image">
                <figure class="image is-3by2">
                    <img src="assets/images/tax.jpg" alt="">
                </figure>
                <figcaption class=" is-size-6 has-text-light">ลดหย่อนภาษี</figcaption>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="card" routerLink="/retirements/new">
            <div class=" card-image">
                <figure class="image is-3by2">
                    <img src="assets/images/child.jpg" alt="">
                </figure>
                <figcaption class=" is-size-6 has-text-light">เพื่อลูก</figcaption>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="card" routerLink="/retirements/new">
            <div class=" card-image">
                <figure class="image is-3by2">
                    <img src="assets/images/health.jpg" alt="">
                </figure>
                <figcaption class=" is-size-6 has-text-light">รับมือความเสี่ยง</figcaption>
            </div>
        </div>
    </div>
</div>