<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class=" container">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img src="assets/images/ben-logo.png"
                    alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="28" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class=" navbar-menu">
            <div class=" navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-rounded is-outlined is-primary" routerLink="/start">
                            เริ่มต้น
                        </a>
                    </div>
                </div>
                <a class="navbar-item">
                    Sign in
                </a>
            </div>
        </div>

    </div>
</nav>