<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <img src="assets/images/ben-logo.png"
                alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="28" height="28">
        </a>
    </div>
</nav>
<aside class="menu has-padding-left-1">
    <ul class="menu-list">
        <li><a href="">Home</a></li>
        <li><a>Portfolio</a></li>
    </ul>
    <p class="menu-label">
        Discover
    </p>
    <ul class="menu-list">
        <li><a>Advisor</a></li>
        <li><a>Proposal</a></li>
    </ul>
</aside>