<app-navbar></app-navbar>
<section class="hero has-background-advisor">
    <div class="hero-body">
      <div class="container">
        
        <h2 class="subtitle is-italic">
          Everyday is a 
        </h2>
        <h1 class="title">
            Hayday
          </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container has-text-centered">
      <!-- <h1 class="title is-3">HALO</h1> -->
      <h2 class="subtitle is-3">WEALTH ADVISOR SERVICE</h2>
      <h2 class="subtitle">
        คุณสามารถปรึกษา ขอคำแนะนำเกี่ยวกับการจัดวางเฟอร์นิเจอร์ หรือปัญหาด้านการจัดเก็บในพื้นที่ที่จำกัด จากที่ปรึกษาด้านการตกแต่งภายในของ <strong>Heyday</strong> ได้
      </h2>
      <button class="button is-outlined is-primary is-hidden-desktop" href="#" routerLink="/start">Get Started</button>
      <div class="columns is-mobile has-margin-top-3">
        <div class="column">
          <div class="card">
            <div class=" card-content">
              <div class=" subtitle">การจัดการ</div>
              <div class="columns is-mobile">
                <figure class="column">
                  <img src="assets/images/11.png" alt="">
                </figure>
                <p class="column has-text-left">
                  เราดูแลคุณตลอดการบริการนี้ โดยเริ่มจากการสอบถามสิ่งที่ต้องการ ข้อมูลต่างๆ เพื่อแก้ไขและออกแบบการจัดเก็บความมั่งคั่ง
                </p>
  
              </div>
            </div>
  
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class=" card-content">
              <div class=" subtitle">การเลือกสรร</div>
              <div class="columns is-mobile">
                <figure class="column">
                  <img src="assets/images/10.png" alt="">
                </figure>
                <p class="column has-text-left">
                  เราจะทำการเลือกสรรสินค้าที่เหมาะสมและลงตัว ที่พอดีกับสภาพแวดล้อมในห้องของคุณ
                </p>
  
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class=" card-content">
              <div class=" subtitle">การทำงานร่วมกัน</div>
              <div class=" columns is-mobile">
                <figure class="column">
                  <img src="assets/images/02.png" alt="">
                </figure>
                <p class="column has-text-left">
                  การใช้โปรแกรม 3D ในการออกแบบห้อง ทำให้คุณเห็นภาพและสีสันภายในห้องได้อย่างชัดเจนที่สุด
                </p>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
