.has-background-advisor {
    background-image: url("/assets/images/01.png");
  //background-color: #cccccc;
  height: 50vh;
  background-repeat: no-repeat;
}

.has-margin-top-3 {
   margin-top: 30px;
}